<ion-view title="Resultados" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="resultados-list3">
            <ion-item class="item-icon-left" id="resultados-list-item4">
                <i class="icon ion-checkmark-circled"></i>Recibido en oficina central</ion-item>
            <ion-item class="item-icon-left" id="resultados-list-item10">
                <i class="icon ion-checkmark-circled"></i>Esperando ingreso</ion-item>
            <ion-item class="item-icon-left" id="resultados-list-item11">
                <i class="icon ion-checkmark-circled"></i>Salió del país de origen</ion-item>
        </ion-list>
        <button id="resultados-button2" class="button button-positive  button-block">Agregar a mis pedidos</button>
    </ion-content>
</ion-view>